@font-face {
    font-family: 'PokemonFont';
    src: url('./assets/fonts/PokemonSolid.ttf') format('truetype');
}

div.scrollmenu {
    background-color: #E0F7FA;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.backgroundContainer {
    background-color: #1D3557;
}

img {
    height: 50%;
    width: 50%;
}

body {
    background-image: url('https://png.pngtree.com/png-clipart/20250105/original/pngtree-geometrictextured-seamless-pattern-of-pokeball-icon-symbol-in-vector-format-vector-png-image_9900398.png');
    /* Reemplaza con el enlace de tu imagen */
    background-color: antiquewhite;
    background-repeat: repeat;
    /* Repite la imagen en ambas direcciones */
    background-size: 10%;
    /* Mantén el tamaño original de la imagen para un patrón perfecto */
    margin: 0;
    /* Elimina márgenes del cuerpo */
    padding: 0;
    /* Elimina cualquier espacio adicional */
}

.imagenNav{
    max-width: 400px;
}
.imgDetails{
    width: 40%;
}
.textPokemon {
    font-family: 'PokemonFont', Arial, sans-serif; /* Fuente Pokémon con respaldo */
    color: #ffff00; /* Color del texto */
    text-shadow: 
        2px 2px 0 #000,   /* Sombra inferior derecha */
        -2px -2px 0 #000, /* Sombra superior izquierda */
        2px -2px 0 #000,  /* Sombra superior derecha */
        -2px 2px 0 #000;  /* Sombra inferior izquierda */
    font-size: 2rem; /* Tamaño del texto */
    border: 1px solid transparent; /* (Opcional) facilita depuración */
    background-color: transparent; /* Fondo transparente */
}
.textPDetails{
    font-size: large;
    font-weight: bold;
}

.imgLocationCard {
    max-width: 30%;

}

.cardLocation {
    width: 20rem;
}
.pokeCard{
    width: 20rem;
}

